<% provide(:title, "About") %>
<div class="container">
	<h1>About General Assemblr <span class="color-converse-title">2.0</span></h1>
	<p class="color-converse-title" style="text-align: center;">They said it couldn't be done. But here we are! We've proven them wrong!</p>
	<p>General Assemblr is a social network for all coders, designers, and techies that have ever assembled at any of the generally awesome campuses of General Assembly!</p>
	<p>Join, connect up your Github account and connect up your CodeWars account.</p>
	<p>Follow interesting alumni, show off your best work through your github account, and display your skills as coding ninja, all from the comfort of your own home alumni and student network!</p>


	<div class="row">
		<h3 class="color-converse-title about-page-style">general awesomeness is brought to you by</h3>
		<div class="col-md-4 bios">
			<h3>Annamarie Atiba</h3>
			<p>CEO/la jefa</p>
		</div>
		<div class="col-md-4 bios">
			<h3>Jonathan Thomas Fung</h3>
			<p>CBO/Brogrammer in Chief</p>
		</div>
		<div class="col-md-4 bios">
			<h3>Kevin Yang</h3>
			<p>COO/Secret Weapon</p>
		</div>
	</div>
</div>