<% provide(:title, "FAQs") %>
<div class="container log-in-style">
	<h1>General Assemblr FAQs</h1>
	<p>on a scale from 1 to 10, how awesome do you think GA is?</p>
	<p>also, the FAQs will go here!</p>
</div>
