<% provide(:title, "FAQs") %>
<div class="container log-in-style">
	<h1>General Assemblr FAQs</h1>
	
	<h3>1. I haven't received my confirmation email--what's up?</h3>
	<p><%= link_to "SendGrid delays emails until it verifies that we are not a spam bot. Until we've passed muster, There will be a 10-15 minute delay.", "http://stackoverflow.com/questions/27095976/rails-3-2-emails-being-delayed-for-11-mins-before-processed-by-sendgrid" %></p>

	<h3>2. On a scale from 1 to 10, how awesome is General Assembly?</h3>
	<p>Approximately an 11.</p>

	<h3>3. Where can I find out more about the Web Development Immersive?</h3>
	<p><%= link_to "Right here", "https://generalassemb.ly/education/web-development-immersive" %></p>
</div>
