<% provide(:title, "Generally Assembled Users") %>
<h1 class="color-converse-title"><span class="color-title">General</span>ly <span class="color-title">Assembl</span>ed Use<span class="color-title">r</span>s</h1>

<%= will_paginate %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate %>