<% provide(:title, "Sign Up") %>
<div class="container">
	<div class="log-in-style">
		<h1>Sign up</h1>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= form_for(@user) do |f| %>
				<%= render 'fields', f: f %>
					<%= f.submit "Create my account", class: "btn btn-primary" %>
				<% end %>
				<p>Attention, new users: please be patient. While Sendgrid verifies that we are not a spam bot, the emails will have a 10 to 15 minute delay.  We appreciate your patience.</p>
			</div>
		</div>
	</div>
</div>

